/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --dark: #342B25FF;
  --dark-translucent: #342B2580;
  --bright: #ADC178FF;
  --pastel1: #DDE5B4FF;
  --pastel1-translucent: #DDE5B480;
  --pastel2: #F0EAD2FF;
  --color5: #A98467FF;
  --font1: "Averia Libre", helvetica, arial, sans-serif; 
  --font2: Philosopher, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--pastel2);
  font-family: Philosopher, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: var(--font1);
  line-height: 1em;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.75rem;
  font-weight: bold;
}

h2 {
  font-size: 2.25rem;
  font-weight: normal;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

p {
  margin: 0;
}

section {
  margin: 0;
  width: 100%;
}

.content-wrapper {
  margin: 0 auto;
  width: 90%;
}

/* ----- HEADER - NAME ----- */

header {
  background: url("../img/background.jpg") no-repeat center center;
  background-size: cover;
  padding: 40px 0;
  width: 100%;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

header .name {
  background-color: var(--pastel1-translucent);
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--dark);
  margin: 40px 0;
  padding: 1rem;
  text-align: center;
}
header .name h1,
header .name h2,
header .name h3 {
  line-height: 1.5em;
}
/*
header .name h3 span {
  font-size: 80%;
  font-style: italic;
}
*/

/* ----- HEADER -- NAVIGATION ----- */

nav {
  box-sizing: border-box;
  margin-top: 40px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: var(--dark-translucent);
  border: solid var(--dark);
  border-width: 0.5px 0;
  margin: 0;
  padding: 1em 0;
  flex-basis: 100%;
}

nav ul li {
  display: inline-block;
  font-family: var(--font1);
  font-size: 0.875em;
  list-style: none;
  margin: 5px 0.5em;
  padding: 0;
}

nav ul li a {
  border-radius: 1em;
  color: var(--pastel1);
  padding: 5px 0.5em;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

nav ul li a:hover {
  background-color: var(--pastel1);
  color: var(--dark);
}

/* ----- MAIN - SKILLS ----- */

#skills {
  background-color: var(--bright);
  box-sizing: border-box;
  color: var(--dark);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 60px 0 30px 0;
}

#skills .skill-category {
  margin: 30px 0;
}

#skills ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin: 20px 0;
  padding: 0;
}

#skills ul li {
  background-color: var(--pastel1);
  border: 2px outset var(--pastel1);
  box-shadow: 3px 3px black;
  font-family: var(--font1);
  border-radius: 5px;
  line-height: 1.5em;
  list-style: none;
  margin: 0.25em;
  padding: 0.5em;
}

#skills ul li img {
  height: 1.5em;
  vertical-align: bottom;
}

/* ----- MAIN - Projects ----- */

#projects {
  background-color: var(--dark);
  color: var(--pastel2);
  padding: 80px 0 60px 0;
}

#projects .section-description {
  margin-top: 1em;
  text-align: center;
}

#projects .content-wrapper {
  margin-top: 50px;
}

#projects article {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--pastel2);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

#projects article figure {
  margin: 0;
  padding: 0;
  max-width: 300px;
}

#projects article figure img {
  width: 100%;
}

#projects article h3 {
  margin-top: 20px;
}

#projects article .description {
  margin: 40px 0;
  padding: 0;
}

#projects article .description a {
  background-color: inherit;
  color: inherit;
  text-decoration: underline;
}

#projects article .skills {
  margin: 30px 0 10px 0;
}

#projects article .visit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 246px;
}

#projects article .visit a {
  background-color: var(--pastel2);
  border-radius: 20px;
  color: var(--dark);
  font-size: 1.125em;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 4.75em;
}

#projects article .visit a:hover {
  background-color: var(--pastel1);
}


/* ----- MAIN - ABOUT ME ----- */

#about {
  background-color: var(--pastel2);
  color: var(--dark);
  padding: 80px 0;
}

#about .content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* TODO Add profile picture
#about figure {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

#about img {
  width: 100%;
  border-radius: 50%;
}
*/

/* Save for use with profile picture
#about .about-text h2,
*/
#about .about-text h3 {
  margin: 40px 0;
}

#about .about-text h3 .wide {
    display: none;
}

#about .about-text p {
  margin-top: 20px;
}

/* ----- MAIN - CONTACT ME ----- */

#contact {
  background-color: var(--dark);
  color: var(--pastel2);
  padding-top: 80px;
}

#contact .content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#contact figure,
#contact address {
  margin: 60px 0 0 0;
}

#contact figure {
  display: flex;
  justify-content: center;
  width: 240px;
}

#contact figure img {
  width: 240px;
}

#contact address {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#contact address a {
  color: var(--pastel2);
  font-size: 1.5em;
  text-decoration: none;
  font-style: normal;
}

#contact .social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

#contact .social-icons a {
  font-size: 3rem;
  padding: 0 0.4em;
}

.fa-linkedin,
.fa-github {
  color: var(--pastel2);
  transition: all 0.5s ease;
}

.fa-linkedin:hover,
.fa-github:hover {
    transform: scale(1.1);
}

/* ----- FOOTER ----- */

footer {
  margin: 60px 0;
}

footer p {
  color: var(--pastel2);
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/*
 * TABLET STYLE ADJUSTMENTS
 */
@media only screen and (min-width: 768px) {

  h1 {
    font-size: 3.75em;
  }
  h2 {
    font-size: 3em;
    font-weight: bold;
  }
  h3 {
    font-size: 2em;
  }
  
  /* ----- TABLET - HEADER ----- */

  header {
    padding: 60px 0;
  }

  header .name {
    border-radius: 17.5px;
    margin: 60px 0;
  }

  nav {
    margin-top: 60px;
    width: auto;
  }

  nav ul {
    padding: 1em;
    flex-basis: initial;
  }

  nav ul li {
    border-width: 1px 0;
    font-size: 1rem;
    text-transform: uppercase;
  }

  /* ----- TABLET - MAIN - SKILLS ----- */

  #skills {
    padding: 80px 0 40px 0;
  }
  
  #skills .skill-category {
    margin: 40px 0;
  }

  #skills ul {
    margin: 30px 0;
  }

  #skills ul li {
    border-radius: 0;
    font-size: 1.125rem;
    margin: 0.5em;
  }

  /* ----- TABLET - PROJECTS ----- */

  #projects {
    padding: 120px 0 40px 0;
  }

  #projects .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin: 70px auto;
    width: 90%;
  }

  #projects article {
    justify-content: space-between;
    margin: 10px;
    width: 47%;
  }

  /* ----- TABLET - ABOUT ME ----- */

  #about {
    padding: 120px 0;
  }

  /* TODO Add profile picture
  #about figure {
    width: 30%;
  }
  */

  /* Save for use with profile picture
  #about .about-text h2 {
    margin: 80px 0;
  }
  */

  #about .about-text h3 {
    margin: 60px 0;
  }

  #about .about-text h3 .wide {
    display: inline;
  }

  /* ----- TABLET - CONTACT ----- */

  #contact {
    padding-top: 120px;
  }
  
  #contact .content-wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 540px;
  }

  /* ----- TABLET - FOOTER ----- */

  footer {
    margin: 80px 0;
  }
  
} /* end of TABLET */


/*
 * DESKTOP STYLE ADJUSTMENTS
 */
@media only screen and (min-width: 1200px) {
  
  h1 {
    font-size: 4.75rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.125rem;
  }

  .content-wrapper {
    width: 80%;
  }
  
  /* ----- DESKTOP - HEADER ----- */

  header { 
    padding: 80px 0;
  }

  header .name {
    border-radius: 21px;
    margin: 80px 0;
  }

  nav {
    margin-top: 80px;
    width: auto;
  }

  /* ----- DESKTOP - SKILLS ----- */

  #skills ul li {
    border: 2px outset var(--pastel1);
    box-shadow: 3px 3px black;
    font-family: var(--font1);
    font-size: 1.25rem;
    margin: 0.75em;
  }

  /* ----- DESKTOP - PROJECTS ----- */

  #projects {
    padding: 140px 0 60px 0;
  }
  
  #projects .content-wrapper {
    margin: 60px auto;
    width: 80%;
  }

  #projects article {
    border: 2px solid var(--pastel2);
    margin: 20px;
    width: 29%;
  }

/* TODO change order of projects */

  /* ----- DESKTOP - ABOUT ----- */

  #about {
    padding: 140px 0;
  }

  #about .content-wrapper {
    flex-flow: row nowrap;
    max-width: 80%;
  }

  /* TODO Add profile picture
  #about figure {
    width: 30%;
    margin: 0;
  }
  
  #about .about-text {
    flex-basis: 60%;
    margin-left: 10%;
  }

  #about .about-text h2 {
    margin: 0 0 40px 0;
    text-align: left;
  }
  */

  /* Without profile pic */
  #about .about-text {
    max-width: 640px;
  }

  #about .about-text h2 {
    margin: 0 0 60px 0;
    text-align: center;
  }
  /* end */

  #about .about-text h3 {
    font-size: 1.75em;
    margin: 0 0 40px 0;
    text-align: left;
  }

  /* ----- DESKTOP - CONTACT ----- */
 
  #contact {
    padding-top: 140px;
  }
  
  #contact .content-wrapper {
    max-width: 600px;
  }

  #contact figure,
  #contact address {
    margin-top: 80px;
  }
  
  #contact figure {
    width: 260px;
  }

  #contact figure img {
    width: 260px;
  }

  /* ----- DESKTOP - FOOTER ----- */

  footer {
    margin: 140px 0;
  }
    
} /* end of DESKTOP */


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

